@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wui-color-accent-100: theme("backgroundColor.indigo.600") !important;
  --wui-spacing-l: theme("padding.6") !important;
}

body {
  background: var(--wui-color-accent-100);
}
wui-connect-button {
  @apply py-3 px-6 bg-indigo-600 text-white font-semibold rounded-full transition-transform transform hover:scale-105 focus:scale-95 active:scale-95 duration-150;
}
